[Desktop Entry]
Name=IceBreaker
Type=Application
Comment=addictive action-puzzle game involving bouncing penguins
Exec=icebreaker
Icon=/usr/share/icebreaker/icebreaker_128.png
Terminal=false
Keywords=puzzle;game;penguins;ice;
Categories=Game;LogicGame;
